body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8ea;
  font-family: "Roboto", sans-serif;
  lett;
}

button {
  padding: 10px 20px;
  color: white;
  background-color: black;
  margin: 20px 0;
  border-radius: 12px;
  font-size: 16px;
  width: 50%;
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: gray;
  border: 2px solid gray;
  transition: ease-in-out 0.2s;
}
input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
}
input:checked {
  border: 6px solid black;
}
.input-container label {
  position: absolute;
  top: 11px;
  left: 20px;
  transition: 0.6s;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label {
  transform: translateX(-13px) translateY(-35px);
}
select {
  appearance: none;
  background-color: transparent;
  border: 2px solid;
  border-radius: 12px;
  padding: 10px;
  margin: 10px 0 20px 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.form {
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px 40px;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

.input-container {
  height: 40px;
  position: relative;
  width: 100%;
  margin: 30px 0 20px 0;
}

.input-select {
  margin: 10px 0 20px 0;
}

.input-text {
  border-radius: 12px;
  border: 2px solid #000;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.input-text [type="text"] {
  color: red;
}